USE [master]
GO
/****** Object:  Database [INIT]    Script Date: 13/07/2019 19:12:52 ******/
CREATE DATABASE [INIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\INIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'INIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\INIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INIT]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[dateAdmission] [date] NOT NULL,
	[birthdate] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[direcction] [ntext] NOT NULL,
	[photo] [nvarchar](256) NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateSend] [date] NOT NULL,
	[description] [ntext] NOT NULL,
	[FK_classroom] [int] NOT NULL,
	[FK_student] [int] NOT NULL,
 CONSTRAINT [PK_REQUEST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[showRequest]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Funciones para Request 
create function [dbo].[showRequest](@class int)
returns table
as return(
	select R.dateSend, R.description, S.fullname
	from dbo.REQUEST as R
	INNER JOIN dbo.STUDENT as S ON S.id = R.FK_student
	WHERE R.FK_classroom = @class
)
GO
/****** Object:  Table [dbo].[ARCHIVE]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARCHIVE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[FK_post] [int] NOT NULL,
 CONSTRAINT [PK_ARCHIVE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSROOM]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSROOM](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[section] [char](1) NOT NULL,
	[code] [nvarchar](10) NOT NULL,
	[state] [bit] NOT NULL,
	[description] [ntext] NOT NULL,
	[FK_teacher] [int] NOT NULL,
 CONSTRAINT [PK_CLASSROOM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMENT]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENT](
	[likes] [int] NULL,
	[datePublication] [date] NOT NULL,
	[FK_student] [int] NOT NULL,
	[FK_post] [int] NOT NULL,
 CONSTRAINT [PK_COMENT] PRIMARY KEY CLUSTERED 
(
	[datePublication] ASC,
	[FK_student] ASC,
	[FK_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESK]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESK](
	[FK_post] [int] NOT NULL,
 CONSTRAINT [PK_DESK] PRIMARY KEY CLUSTERED 
(
	[FK_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[matter] [int] NOT NULL,
	[FK_classroom] [int] NOT NULL,
 CONSTRAINT [PK_EVENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP_BD]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_BD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCordinator] [int] NOT NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOMEWORK]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOMEWORK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[dateStart] [date] NOT NULL,
	[dateFinish] [date] NOT NULL,
	[description] [ntext] NOT NULL,
	[FK_classroom] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KANBAN]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KANBAN](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[FK_group] [int] NOT NULL,
 CONSTRAINT [PK_KANBAN] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[FK_student] [int] NOT NULL,
	[FK_group] [int] NOT NULL,
 CONSTRAINT [PK_MEMBER] PRIMARY KEY CLUSTERED 
(
	[FK_student] ASC,
	[FK_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE_BD]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE_BD](
	[text] [ntext] NOT NULL,
	[dateSend] [date] NOT NULL,
	[FK_student] [int] NOT NULL,
	[FK_group] [int] NOT NULL,
 CONSTRAINT [PK_MESSAGE_BD] PRIMARY KEY CLUSTERED 
(
	[FK_student] ASC,
	[FK_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTE]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[text] [ntext] NOT NULL,
	[FK_student] [int] NOT NULL,
 CONSTRAINT [PK_NOTE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[datePublication] [date] NOT NULL,
	[FK_teacher] [int] NULL,
	[FK_student] [int] NULL,
 CONSTRAINT [PK_POST] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECORD]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECORD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[score] [decimal](6, 2) NOT NULL,
	[FK_classroom] [int] NOT NULL,
	[FK_student] [int] NOT NULL,
 CONSTRAINT [PK_RECORD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRATION]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRATION](
	[averageScore] [decimal](6, 2) NOT NULL,
	[semestre] [char](10) NOT NULL,
	[FK_classroom] [int] NOT NULL,
	[FK_student] [int] NOT NULL,
 CONSTRAINT [PK_REGISTRATION] PRIMARY KEY CLUSTERED 
(
	[FK_classroom] ASC,
	[FK_student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLE_POST]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE_POST](
	[FK_post] [int] NOT NULL,
	[FK_group] [int] NOT NULL,
 CONSTRAINT [PK_TABLE_POST] PRIMARY KEY CLUSTERED 
(
	[FK_post] ASC,
	[FK_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[state] [bit] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[FK_kanban] [int] NOT NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHER]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[direction] [nvarchar](50) NOT NULL,
	[nacionality] [nvarchar](50) NOT NULL,
	[degree] [nvarchar](50) NOT NULL,
	[photo] [nvarchar](256) NULL,
 CONSTRAINT [PK_TEACHER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TO_DO]    Script Date: 13/07/2019 19:12:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TO_DO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[state] [bit] NULL,
	[description] [ntext] NOT NULL,
	[FK_student] [int] NOT NULL,
 CONSTRAINT [PK_TO-DO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TASK] ADD  CONSTRAINT [DF_TASK_title]  DEFAULT (N'Titulo01') FOR [title]
GO
ALTER TABLE [dbo].[TEACHER] ADD  CONSTRAINT [DF_TEACHER_nacionality]  DEFAULT (N'peruano') FOR [nacionality]
GO
ALTER TABLE [dbo].[ARCHIVE]  WITH CHECK ADD  CONSTRAINT [FK__ARCHIVE__FK_post__5629CD9C] FOREIGN KEY([FK_post])
REFERENCES [dbo].[POST] ([id])
GO
ALTER TABLE [dbo].[ARCHIVE] CHECK CONSTRAINT [FK__ARCHIVE__FK_post__5629CD9C]
GO
ALTER TABLE [dbo].[CLASSROOM]  WITH CHECK ADD  CONSTRAINT [FK_CLASSROOM_TEACHER] FOREIGN KEY([FK_teacher])
REFERENCES [dbo].[TEACHER] ([id])
GO
ALTER TABLE [dbo].[CLASSROOM] CHECK CONSTRAINT [FK_CLASSROOM_TEACHER]
GO
ALTER TABLE [dbo].[COMENT]  WITH CHECK ADD  CONSTRAINT [FK__COMENT__FK_post__5812160E] FOREIGN KEY([FK_post])
REFERENCES [dbo].[POST] ([id])
GO
ALTER TABLE [dbo].[COMENT] CHECK CONSTRAINT [FK__COMENT__FK_post__5812160E]
GO
ALTER TABLE [dbo].[COMENT]  WITH CHECK ADD  CONSTRAINT [FK__COMENT__FK_stude__59063A47] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[COMENT] CHECK CONSTRAINT [FK__COMENT__FK_stude__59063A47]
GO
ALTER TABLE [dbo].[DESK]  WITH CHECK ADD  CONSTRAINT [FK__DESK__FK_post__59FA5E80] FOREIGN KEY([FK_post])
REFERENCES [dbo].[POST] ([id])
GO
ALTER TABLE [dbo].[DESK] CHECK CONSTRAINT [FK__DESK__FK_post__59FA5E80]
GO
ALTER TABLE [dbo].[EVENT]  WITH CHECK ADD  CONSTRAINT [FK__EVENT__FK_classr__5AEE82B9] FOREIGN KEY([FK_classroom])
REFERENCES [dbo].[CLASSROOM] ([id])
GO
ALTER TABLE [dbo].[EVENT] CHECK CONSTRAINT [FK__EVENT__FK_classr__5AEE82B9]
GO
ALTER TABLE [dbo].[HOMEWORK]  WITH CHECK ADD  CONSTRAINT [FK__HOMEWORK__FK_cla__5BE2A6F2] FOREIGN KEY([FK_classroom])
REFERENCES [dbo].[CLASSROOM] ([id])
GO
ALTER TABLE [dbo].[HOMEWORK] CHECK CONSTRAINT [FK__HOMEWORK__FK_cla__5BE2A6F2]
GO
ALTER TABLE [dbo].[KANBAN]  WITH CHECK ADD  CONSTRAINT [FK__KANBAN__FK_group__5CD6CB2B] FOREIGN KEY([FK_group])
REFERENCES [dbo].[GROUP_BD] ([id])
GO
ALTER TABLE [dbo].[KANBAN] CHECK CONSTRAINT [FK__KANBAN__FK_group__5CD6CB2B]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [FK__MEMBER__FK_group__5DCAEF64] FOREIGN KEY([FK_group])
REFERENCES [dbo].[GROUP_BD] ([id])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [FK__MEMBER__FK_group__5DCAEF64]
GO
ALTER TABLE [dbo].[MEMBER]  WITH CHECK ADD  CONSTRAINT [FK__MEMBER__FK_stude__5EBF139D] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[MEMBER] CHECK CONSTRAINT [FK__MEMBER__FK_stude__5EBF139D]
GO
ALTER TABLE [dbo].[MESSAGE_BD]  WITH CHECK ADD  CONSTRAINT [FK__MESSAGE_B__FK_gr__5FB337D6] FOREIGN KEY([FK_group])
REFERENCES [dbo].[GROUP_BD] ([id])
GO
ALTER TABLE [dbo].[MESSAGE_BD] CHECK CONSTRAINT [FK__MESSAGE_B__FK_gr__5FB337D6]
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD  CONSTRAINT [FK__NOTE__FK_student__60A75C0F] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[NOTE] CHECK CONSTRAINT [FK__NOTE__FK_student__60A75C0F]
GO
ALTER TABLE [dbo].[NOTE]  WITH CHECK ADD  CONSTRAINT [FK__NOTE__FK_student__619B8048] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[NOTE] CHECK CONSTRAINT [FK__NOTE__FK_student__619B8048]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK__POST__FK_student__628FA481] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK__POST__FK_student__628FA481]
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD  CONSTRAINT [FK__POST__FK_teacher__6383C8BA] FOREIGN KEY([FK_teacher])
REFERENCES [dbo].[TEACHER] ([id])
GO
ALTER TABLE [dbo].[POST] CHECK CONSTRAINT [FK__POST__FK_teacher__6383C8BA]
GO
ALTER TABLE [dbo].[RECORD]  WITH CHECK ADD  CONSTRAINT [FK__RECORD__FK_class__6477ECF3] FOREIGN KEY([FK_classroom])
REFERENCES [dbo].[CLASSROOM] ([id])
GO
ALTER TABLE [dbo].[RECORD] CHECK CONSTRAINT [FK__RECORD__FK_class__6477ECF3]
GO
ALTER TABLE [dbo].[RECORD]  WITH CHECK ADD  CONSTRAINT [FK__RECORD__FK_stude__656C112C] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[RECORD] CHECK CONSTRAINT [FK__RECORD__FK_stude__656C112C]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK__REGISTRAT__FK_cl__66603565] FOREIGN KEY([FK_classroom])
REFERENCES [dbo].[CLASSROOM] ([id])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK__REGISTRAT__FK_cl__66603565]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK__REGISTRAT__FK_st__6754599E] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK__REGISTRAT__FK_st__6754599E]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK__REQUEST__FK_clas__68487DD7] FOREIGN KEY([FK_classroom])
REFERENCES [dbo].[CLASSROOM] ([id])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK__REQUEST__FK_clas__68487DD7]
GO
ALTER TABLE [dbo].[REQUEST]  WITH CHECK ADD  CONSTRAINT [FK__REQUEST__FK_stud__693CA210] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[REQUEST] CHECK CONSTRAINT [FK__REQUEST__FK_stud__693CA210]
GO
ALTER TABLE [dbo].[TABLE_POST]  WITH CHECK ADD  CONSTRAINT [FK__TABLE_POS__FK_gr__6A30C649] FOREIGN KEY([FK_group])
REFERENCES [dbo].[GROUP_BD] ([id])
GO
ALTER TABLE [dbo].[TABLE_POST] CHECK CONSTRAINT [FK__TABLE_POS__FK_gr__6A30C649]
GO
ALTER TABLE [dbo].[TABLE_POST]  WITH CHECK ADD  CONSTRAINT [FK__TABLE_POS__FK_po__6B24EA82] FOREIGN KEY([FK_post])
REFERENCES [dbo].[POST] ([id])
GO
ALTER TABLE [dbo].[TABLE_POST] CHECK CONSTRAINT [FK__TABLE_POS__FK_po__6B24EA82]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK__TASK__FK_kanban__6C190EBB] FOREIGN KEY([FK_kanban])
REFERENCES [dbo].[KANBAN] ([id])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK__TASK__FK_kanban__6C190EBB]
GO
ALTER TABLE [dbo].[TO_DO]  WITH CHECK ADD  CONSTRAINT [FK__TO_DO__FK_studen__6D0D32F4] FOREIGN KEY([FK_student])
REFERENCES [dbo].[STUDENT] ([id])
GO
ALTER TABLE [dbo].[TO_DO] CHECK CONSTRAINT [FK__TO_DO__FK_studen__6D0D32F4]
GO
USE [master]
GO
